#root {
    height: 100%;
}

/*Login*/
.login-form {
    width: 500px;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

/*Register*/
.register-form {
    width: 500px;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*Antd Global*/
.ant-layout-content {
    height: 100%;
    overflow-y: hidden;
}

.ant-menu-item:hover {
    background-color: #e6f7ff;
}

.ant-tree-block-node {
    text-overflow: ellipsis;
    overflow: hidden;
}

/*wangEditor*/
.wangeditor {
    height: calc(100% - 50px);
}

.wangeditor .w-e-toolbar {
    flex-wrap: wrap;
}

.wangeditor .w-e-text-container {
    height: calc(100% - 40px) !important;
}


