#root {
    height: 100%;
}

.ant-layout-content {
    height:100%;
    overflow-y: hidden;
}
.wangeditor {
    height: 100%;
}
.wangeditor .w-e-toolbar{
    flex-wrap: wrap;
}
.wangeditor .w-e-text-container{
    height: calc(100% - 33px) !important;
}

.ant-menu-item:hover {
    background-color: #e6f7ff;
}
.ant-tree-block-node {
    text-overflow: ellipsis;
    overflow: hidden;
}
