.blog-item {
    cursor: pointer;
    height: 68px;
}
.item-div {
    width: 100%;
    height: 100%;
    margin-top: 12px;
    color: #42526e;
    border-radius: 3px;
    background-color: rgba(9, 30, 66, .08);
    padding: 6px 12px;
    transition:width 600ms;
    -moz-transition:width 600ms; /* Firefox 4 */
    -webkit-transition:width 600ms; /* Safari and Chrome */
    -o-transition:width 600ms; /* Opera */
}

.blog-item:hover .item-div{
    background-color: antiquewhite;
    width: 92%;
}
.blog-item h5 {
    display: inline-block;
}
.blog-item .item-date {
    float: right;
}

.close-icon {
    /*display: none;*/
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;

    position: relative;
    bottom: 47px;
}

.blog-item:hover .close-icon {
    /*display: block;*/
    visibility: visible;
    opacity: 1;
}